$attribution-link-color: hsl(228, 45%, 44%);
$font-family: "Inter", sans-serif;
$animation-timing: 0.2s ease-in-out;
$hamburger-line-width: 100px;
$hamburger-line-height: 10px;

// Primary
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// Neutral
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// 2560 x 1440 screen size
body {
    background-color: $Off-white;
    font-family: $font-family;

    header {
        display: flex;
        justify-content: space-between;
        padding: 6.5% 7.5% 3.3rem 7.5%;

        .header-logo {
            img {
                width: 7rem;
            }
        }

        .header-navbar {
            .header-navbar_content {
                display: flex;
                gap: 5rem;
                padding-top: 1.3rem;

                li {
                    .header-navbar_link {
                        color: $Very-dark-blue;
                        font-size: 2.3rem;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            color: $Soft-red;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .header-hamburger_menu {
            z-index: 9999;
            display: none;
        }
    }

    main {
        display: grid;
        grid-template-columns: 4.4fr 2fr;
        gap: 2rem;
        padding-inline: 7.5%;

        .main-content {
            display: grid;
            grid-template-rows: auto;

            .main-content_img {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .main-content_information {
                display: flex;
                width: 100%;
                gap: 3rem;
                padding-top: 1.8rem;

                .main-content_title {
                    font-size: 7rem;
                    font-weight: 800;
                    width: 50%;
                    text-align: left;
                }

                .main-content_description {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    .main-content_detail {
                        color: $Dark-grayish-blue;
                        font-size: 2rem;
                        padding-bottom: 4.4rem;
                        line-height: 1.6;
                    }

                    .main-content_button {
                        background-color: $Soft-red;
                        padding-inline: 1.2rem;
                        padding-block: 3rem;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: $Off-white;
                        letter-spacing: 0.27rem;
                        line-height: 1.4;
                        width: 100%;

                        &:hover,
                        &:active {
                            background-color: $Very-dark-blue;
                        }
                    }
                }
            }
        }

        .main-trending {
            background-color: $Very-dark-blue;
            padding: 2rem 3rem 0;
            width: 100%;
            height: 100%;

            .main-trending_title {
                color: $Soft-orange;
                font-size: 4rem;
                font-weight: 700;
            }

            .main-trending_info {
                color: $Off-white;

                .main-trending_subtitle {
                    font-size: 2.88rem;
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                    cursor: pointer;

                    &:hover {
                        color: $Soft-orange;
                    }
                }

                .main-trending_description {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.9;
                    letter-spacing: 0.07rem;
                    padding-bottom: 1.5rem;
                }
            }

            hr {
                border: 1px solid $Off-white;
                margin-bottom: 0.12rem;
            }
        }
    }

    .trending-news {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 5rem;
        padding-inline: 7.5%;

        .trending-news_content {
            display: flex;
            gap: 2rem;

            img {
                max-width: 100%;
                height: 100%;
            }

            .trending-news_description {
                .trending-news_title {
                    color: $Grayish-blue;
                    font-size: 4rem;
                    font-weight: 800;
                    padding-bottom: 0.5rem;
                }

                .trending-news_subtitle {
                    font-size: 2.5rem;
                    font-weight: 800;
                    padding-bottom: 0.5rem;
                    cursor: pointer;

                    &:hover {
                        color: $Soft-red;
                    }
                }

                .trending-news_detail {
                    font-size: 1.8rem;
                    max-width: 450px;
                    line-height: 1.75;
                    color: $Dark-grayish-blue;
                }
            }
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;

        a {
            color: $attribution-link-color;
            font-weight: 700;

            &:visited {
                color: $Soft-orange;
            }
        }
    }
}

@media (max-width: 1440.98px) {
    body {
        header {
            padding: 6.2% 11.5% 3.3rem 11.5%;

            .header-logo {
                img {
                    width: 4rem;
                }
            }

            .header-navbar {
                .header-navbar_content {
                    gap: 2.32rem;
                    padding-top: 0.6rem;

                    li {
                        .header-navbar_link {
                            font-size: 1.01rem;
                        }
                    }
                }
            }
        }

        main {
            grid-template-columns: 4.17fr 2fr;
            padding-inline: 11.5%;

            .main-content {
                .main-content_information {
                    gap: 2rem;

                    .main-content_title {
                        font-size: 3.5rem;
                        line-height: 1;
                    }

                    .main-content_description {
                        .main-content_detail {
                            font-size: 0.9rem;
                            line-height: 1.57;
                            padding-bottom: 2.3rem;
                            letter-spacing: 0.0177rem;
                        }

                        .main-content_button {
                            padding-inline: 0.9rem;
                            padding-block: 1.15rem;
                            font-size: 0.8rem;
                            letter-spacing: 0.34rem;
                            line-height: 1;
                            width: 53%;
                        }
                    }
                }
            }

            .main-trending {
                padding: 1.7rem 1.55rem 0;

                .main-trending_title {
                    font-size: 2.43rem;
                }

                .main-trending_info {
                    .main-trending_subtitle {
                        font-size: 1.259rem;
                        padding-top: 1.7rem;
                        padding-bottom: 0.9rem;
                    }

                    .main-trending_description {
                        font-size: 0.8rem;
                        padding-bottom: 1.73rem;
                    }
                }
            }
        }

        .trending-news {
            padding-top: 4.4rem;
            padding-inline: 11.5%;
            gap: 2rem;

            .trending-news_content {
                gap: 1.6rem;

                img {
                    height: 125px;
                }

                .trending-news_description {
                    .trending-news_title {
                        font-size: 1.8rem;
                        padding-bottom: 0.9rem;
                        margin-top: -0.2rem;
                    }

                    .trending-news_subtitle {
                        font-size: 1.13rem;
                    }

                    .trending-news_detail {
                        font-size: 0.93rem;
                        max-width: 250px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1366.98px) {
    body {
        main {
            .main-content {
                .main-content_information {
                    .main-content_title {
                        line-height: 0.96;
                        font-size: 4rem;
                    }

                    .main-content_description {
                        .main-content_detail {
                            font-size: 1.1rem;
                            padding-bottom: 2.9rem;
                        }

                        .main-content_button {
                            padding-block: 1.5rem;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280.98px) {
    body {
        header {
            padding: 6.2% 7% 3.3rem 7%;
        }

        main {
            padding-inline: 7%;

            .main-content {
                .main-content_information {
                    .main-content_title {
                        width: 45%;
                    }
                }
            }
        }

        .trending-news {
            padding-inline: 7%;
        }
    }
}

@media (max-width: 1030.98px) {
    body {
        main {
            .main-content {
                .main-content_information {
                    flex-direction: column;
                    gap: 1rem;

                    .main-content_title {
                        width: 100%;
                        line-height: 1.2;
                    }

                    .main-content_description {
                        width: 100%;
                        padding-left: 0;

                        .main-content_button {
                            padding-inline: 1rem;
                            padding-block: 1.3rem;
                            font-size: 1rem;
                            width: 100%;
                            border-radius: 0.5rem;
                        }
                    }
                }
            }

            .main-trending {
                padding: 1.6rem 1.3rem 0;

                .main-trending_title {
                    font-size: 2.1rem;
                }
            }
        }

        .trending-news {
            .trending-news_content {
                flex-direction: column;

                img {
                    border-radius: 0.5rem;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 992.98px) {
    body {
        main {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 768.98px) {
    body {
        header {
            padding: 13.2% 7% 3.3rem 7%;

            .header-logo {
                img {
                    width: 6rem;
                }
            }

            .header-hamburger_menu {
                display: inline-block;

                .fa-solid {
                    font-size: 4rem;
                }
            }

            .header-navbar {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: auto;
                width: 100%;
                padding: 13rem 5rem;
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(30px);
                -webkit-backdrop-filter: blur(30px);
                border-radius: 0 0 1.3rem 1.3rem;
                transform-origin: left;
                transition: all 0.2s ease-in-out;
                margin-left: -100%;

                .header-navbar_content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 2rem;

                    li {
                        width: 100%;
                        margin-bottom: 5%;
                        text-align: center;
                        background-color: $Off-white;
                        padding: 2rem 0;
                        border-radius: 100vw;

                        .header-navbar_link {
                            font-size: 2rem;
                            font-weight: 700;
                            color: $Soft-red;
                            text-shadow: 2px 3px whitesmoke;

                            &:hover {
                                color: $Soft-red;
                            }
                        }
                    }
                }

                &.active {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 600.98px) {
    body {
        header {
            .header-logo {
                img {
                    width: 5rem;
                }
            }

            .header-hamburger_menu {
                .fa-solid {
                    font-size: 3.3rem;
                }
            }
        }

        .trending-news {
            flex-direction: column;

            .trending-news_content {
                flex-direction: row;
                gap: 2rem;

                img {
                    max-width: 100%;
                }

                .trending-news_description {
                    .trending-news_title {
                        margin-top: 0;
                        font-size: 2.5rem;
                    }

                    .trending-news_subtitle {
                        font-size: 1.5rem;
                    }

                    .trending-news_detail {
                        font-size: 1.15rem;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 412.98px) {
    body {
        header {
            .header-logo {
                img {
                    width: 100%;
                }
            }

            .header-hamburger_menu {
                .fa-solid {
                    font-size: 2.7rem;
                }
            }

            .header-navbar {
                padding-inline-start: 2.7rem;

                .header-navbar_content {
                    li {
                        text-align: left;

                        .header-navbar_link {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }

        main {
            .main-content {
                .main-content_information {
                    .main-content_title {
                        font-size: 2.7rem;
                    }
                }
            }
        }

        .trending-news {
            padding-top: 2.5rem;

            .trending-news_content {
                gap: 1rem;

                img {
                    width: 8rem;
                }

                .trending-news_description {
                    .trending-news_title {
                        font-size: 1.8rem;
                    }

                    .trending-news_subtitle {
                        font-size: 1.2rem;
                    }

                    .trending-news_detail {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 395.98px) {
    body {
        header {
            padding: 13.2% 7% 2rem 7%;
        }
        .trending-news {
            .trending-news_content {
                img {
                    width: 7rem;
                }
            }
        }
    }
}
